@using DemoApi.Models
@model Urunler

<h1>Ürün Detayları</h1>

<p>ID: @Model.UrunId</p>
<p>İsim: @Model.UrunAdi</p>
<p>Uretici: @Model.UreticiId</p>
<p>Marka: @Model.MarkaId</p>
<p>Grup: @Model.GrupId</p>

<a href="@Url.Action("Urunler")">Geri</a>
