@using DemoApi.Models
@model List<Urunler>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<h2>Ürünler</h2>

<p>Urun arama</p>
<input id="myInput" type="text" placeholder="Search..">
<br />
<br />
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">UrunAdi</th>
            <th scope="col">UrunKodu</th>
            <th scope="col">MarkaId</th>
            <th scope="col">GrupId</th>
            <th scope="col">UreticiId</th>
            <th scope="col">Güncelle</th>
            <th scope="col">Sil</th>
            <th scope="col">Detay</th>
            <!-- Diğer sütunlar -->
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var urun in Model)
        {
            <tr>
                <td>@urun.UrunAdi</td>
                <td>@urun.UrunKodu</td>
                <td>@urun.MarkaId</td>
                <td>@urun.GrupId</td>
                <td>@urun.UreticiId</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("UrunDuzenle", "Home", new { id = urun.UrunId })">Güncelle</a>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("UrunSil", "Home", new { id = urun.UrunId })">Sil</a>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("UrunDetay", "Home", new { id = urun.UrunId })">Detay</a>
                </td>
             
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary btn-lg mt-4" style="margin:5px;" href="@Url.Action("YeniUrun", "Home")">Yeni Ürün Ekle</a>